@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 0 2.375rem;
  padding: 1.438rem 15% 1.688rem 15%;
}

.App-header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.header-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.header-right {
  border-radius: 50%;
  border: solid 1px #e8e8e8;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-book {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.bookSection {
  width: 70%;
}

.bookSection > ul > li {
  list-style: none;
  margin-bottom: 2rem;
}
